.card-container{
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  margin: auto; 
}

.card { 
  width: 15em; 
  text-align: center; 
  padding: 0.5em; 
  background-color: lightgray; 
  border-radius: 1em;
  margin: 0.5em; 
}